<footer>
  <div class="f-info">
<<<<<<< HEAD
    <div class="f-info-social">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brand">&copy; Wander Lust</div>
=======
  <div class="f-info-social">
  <a href="https://facebook.com/https://www.facebook.com/profile.php?id=100024470059597" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com/kumar_sonu740/" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://www.linkedin.com/in/sonu-kumar-6a7b86302/" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-linkedin"></i>
  </a>
    <a href="mailto:523410024@nitkkr.ac.in">
    <i class="fa-solid fa-envelope"></i>
  </a>

  <!-- Twitter -->
  <a href="https://x.com/TutionMy26576" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-twitter"></i>
  </a>

</div>


    <div class="f-info-brand">&copy;My House</div>
>>>>>>> faf72e3 (Initial commit to new repo)

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
