<% layout("/layouts/boilerplate") -%>
<body>
  <br><br>
  <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="row">
      <div class="col-8 offset-2">
        <!-- Title Field -->
        <div class="mb-3">
          <label for="title" class="form-label"   >Title</label>
          <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
          <div class="valid-feedback">
            Title Looks good!
          </div>
        </div>

        <!-- Description Field -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
          <div class="invalid-feedback">
           Please type a short description
          </div>
        </div>

        <!-- Image URL Field -->
        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input type="text" name="listing[image]" placeholder="Enter Image URL" class="form-control" >
          <div class="invalid-feedback">
            Please insert a url 
           </div>
        </div> -->

            <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input type="file" name="image" placeholder="Enter Image URL" class="form-control" >
          <div class="invalid-feedback">
            Please insert a url 
           </div>
           required
        </div>



        <!-- Price and Country Fields -->
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label" >Price</label>
            <input type="number"   name="listing[price]" placeholder="Enter Price" class="form-control" required>
            <div  class="invalid-feedback" >
              Please enter Valid Price
             </div>
          </div>
          <div class="mb-3 col-md-8">
<<<<<<< HEAD
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control" required>
            <div class="invalid-feedback">
              Select country
=======
            <label for="country" class="form-label">City</label>
            <input type="text" name="listing[city]" placeholder="Enter Country" class="form-control" required>
            <div class="invalid-feedback">
              Select City
>>>>>>> faf72e3 (Initial commit to new repo)
             </div>
          </div>
        </div>

        <!-- Location Field -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
          <div class="invalid-feedback">
            Please choose Location
           </div>
        </div>

        <!-- Submit Button -->
        <button class="btn btn-dark">Add this</button>
      </div>
    </div>
  </form>
</body>
